$bg-header: #1D5297;
$button-color: #FF6A17;
$bg-page: #F1F6FB;
$bg-bagde: #51C99C;
$text-color: #333333;
$info-color: #1D5297;
$bg-radius: #4480C5;
$text-header-color: #B9D0EF;
$border-color: #DFECFF;
$highlight-color: #9EB8DC;
$light-color: #fff;