
.banner {
    background-color: $bg-header;
    color: $light-color;
    padding: 80px 0 0 0;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
    width: 100%;
}

.banner-center {
    min-width: 360px;
    width: 60%;
    flex-grow: 2;
}

.banner-left,
.banner-right {
    width: 20%;
    flex-grow: 1;
    padding: 20px;
}



.banner-img-right,
.banner-img-left {
    width: 20%;
    max-width: 350px;
    position: absolute;
    
}
.banner-img-left {
    left: 20px;
    top: 220px;
}

.banner-img-right {
    right: 20px;
    top: 200px;
}

.header-main {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    line-height: 1.5em;
    margin: 10px 0 50px 0;
}

.header-first-line {
    color: $text-header-color;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.6px;
    text-align: center;
}

.header-items {
    font-size: 16px;
    color: $text-header-color;
    text-align: center;
    line-height: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 50px;
    div {
        margin: 0 10px;
    }
}

.footer-banner{
    box-shadow: 0 -20px #1D5297;
    width: 100%;
    height: 50px;
    img {
        width: 100%;
    }
    margin-bottom: 30px;
}